.index-container {
  position: relative;
}

// 首页背景图
.window-bgc {
  width: 100%;
  height: 200rpx;
  background-color: #f3514f;
  border-radius: 0 0 20rpx 20rpx;
  position: absolute;
}

// 广告
.adver {
  box-sizing: border-box;
  width: 100%;
  background-color: #fff;
  border-radius: 18rpx;
  overflow: hidden;
  display: flex;
  padding: 10rpx 8rpx;

  .adver-left {
    width: 50%;
    padding: 8rpx 8rpx 0 8rpx;
  }

  .adver-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 8rpx 8rpx 0 8rpx;

    view:last-child {
      padding-top: 8rpx;
    }
  }

  image {
    width: 100%;
  }
}
