@import "./assets/fonts.scss";

page {
  background-color: #f7f4f8;
  min-height: 100vh;
}

.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 16rpx;
}

.img {
  width: 100%;
}
