.swiper-box {
  position: relative;
}

.swiper {
  height: 320rpx;
  border-radius: 18rpx;
  overflow: hidden;

  .swiper-item {
    height: 320rpx;
    overflow: hidden;
  }

  .img, .navigator {
    width: 100%;
    height: 100%;
    border-radius: 16rpx;
  }
}

.indicator {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 16rpx;

  .rectangle {
    width: 30rpx;
    height: 6rpx;
    margin: 0 8rpx;
    border-radius: 6rpx;
    background-color: rgba(233, 228, 228, 0.9);

    &.active {
      width: 40rpx;
      background-color: #f3514f;
    }
  }
}
